@{
    ViewData["Title"] = "Account Blacklisted";
}

<div class="container">
    <div class="alert alert-danger">
        <h2>Your account has been blacklisted</h2>
        <p>You no longer have access to this service.</p>
        <p>If you believe this is an error, please contact our support team.</p>
        <a href="/Account/Logout" class="btn btn-primary">Logout</a>
    </div>
</div>