@{
    ViewData["Title"] = "Account Blacklisted";
}

<div class="container">
    <div class="alert alert-danger">
        <h2>Вашят акаунт е в Черният списък.</h2>
        <p>Вече нямате достъп до тази услуга.</p>
        <p>Ако смятате, че това е грешка, се свържете с нас.</p>
        <a href="/Account/Logout" class="btn btn-primary">Изход</a>
    </div>
</div>