@using CarRental3._0.ViewModels
@model DeleteCarViewModel
@{
}
<form method="post" asp-action="Delete">
    @*Brand*@
    <div class="form-group">
        <label asp-for="Brand">Марка</label>
        <input asp-for="Brand" type="brand" class="form-control" placeholder="Въведи марка">
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>

    @*Model*@
    <div class="form-group">
        <label asp-for="Model">Модел</label>
        <input asp-for="Model" type="Model" class="form-control" placeholder="Въведи модел">
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
</form>

